* text=auto eol=lf
*.png binary
*.jpg binary
*.gif binary
*.zip binary

# Not part of release archives
/scripts export-ignore
/dist export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
